@use "color";
.btn {
  padding: 0.5rem;
  transition: width 0.3s ease-in-out;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  .text {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 0.2s, transform 0.2s;
    display: none;
  }
  &:hover {
    .text {
      opacity: 1;
      transform: scaleX(1);
      display: block;
    }
  }
}
.btn-orange {
  @extend .bg-orange;
  @extend .white;
  border-radius: 1.5rem;
  &:hover {
    background-color: color.$darkOrange;
  }
}

.btn-line {
  border: 1px solid rgba(86, 44, 44, 0.3);
  padding: 0.5rem 3rem;
}

.btn-line-orange {
  cursor: pointer;
  border: 1px solid rgba(242, 84, 45, 0.5);
  color: color.$brown;
  &:hover {
    background-color: color.$lightOrange;
  }
}
