<section class="container mx-auto">
  <div class="py-10">
    <div class="title-group text-center">
      <div class="title">
        <h2 class="main-title orange">Titre Bloc 1</h2>
        <div class="line"></div>
      </div>
      <P class="sub-title">Sous-titre Bloc 1</P>
    </div>
    <div class="mt-5">
      <div class="grid grid-cols-3 gap-5">
        <div class="card pt-10">
          <div class="img">
            <img src="/assets/images/image_1.webp" alt="" />
          </div>
          <div class="case-title">Case Title</div>
          <div class="case-sub-title">Case sous-titre</div>
          <div class="description">
            Chaque sentier vous conduit à des panoramas époustouflants, chaque
            instant devient une aventure, chaque rencontre vous promet un so
            uvenir marquant. Avec MITIK, le tourisme d'aventure allie nature
            brute et confort raffiné à toutes les saisons. Randonnée, canoë,
            observation de la faune, rencontres culturelles, exploration en
            montagne, chaque escapade est une immersion inoubliable dans les
            grands espaces canadiens.
          </div>
          <button class="btn btn-line">
            <span>Forfait 1</span>
            <div data-svg-wrapper style="position: relative">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.7504 6V15.75C18.7504 15.9489 18.6714 16.1397 18.5307 16.2803C18.3901 16.421 18.1993 16.5 18.0004 16.5C17.8015 16.5 17.6107 16.421 17.4701 16.2803C17.3294 16.1397 17.2504 15.9489 17.2504 15.75V7.81031L6.53104 18.5306C6.39031 18.6714 6.19944 18.7504 6.00042 18.7504C5.80139 18.7504 5.61052 18.6714 5.46979 18.5306C5.32906 18.3899 5.25 18.199 5.25 18C5.25 17.801 5.32906 17.6101 5.46979 17.4694L16.1901 6.75H8.25042C8.0515 6.75 7.86074 6.67098 7.72009 6.53033C7.57943 6.38968 7.50042 6.19891 7.50042 6C7.50042 5.80109 7.57943 5.61032 7.72009 5.46967C7.86074 5.32902 8.0515 5.25 8.25042 5.25H18.0004C18.1993 5.25 18.3901 5.32902 18.5307 5.46967C18.6714 5.61032 18.7504 5.80109 18.7504 6Z"
                  fill="#0E9594"
                />
              </svg>
            </div>
          </button>
        </div>
        <div class="card">
          <div class="img">
            <img src="/assets/images/image_2.webp" alt="" />
          </div>
          <div class="case-title">Case Title</div>
          <div class="case-sub-title">Case sous-titre</div>
          <div class="description">
            Chez BASIC, la pêche est une alliance entre passion et respect.
            Imaginez des lacs paisibles et des rivières exclusives, des guides
            experts et des pratiques durables, le tout au cœur de territoires
            immenses. Chaque prise devient un moment de fierté mais surtout
            inoubliable. MITIK vous propose une panoplie d’expériences de pêche
            tant sur lacs sauvages que les rivières mythiques dans le Nord du
            Québec tout comme les Hautes-Laurentides. Ce que nos sit es vous
            proposent ? Pêche à la truite mouchetée et grise, au doré jaune et
            au brochet, au grand corégone, au saumon de l’Atlantique et
            ouananiche, ainsi que l’omble chevalier.
          </div>
          <button class="btn btn-line">
            <span>Forfait 1</span>
            <div data-svg-wrapper style="position: relative">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.7504 6V15.75C18.7504 15.9489 18.6714 16.1397 18.5307 16.2803C18.3901 16.421 18.1993 16.5 18.0004 16.5C17.8015 16.5 17.6107 16.421 17.4701 16.2803C17.3294 16.1397 17.2504 15.9489 17.2504 15.75V7.81031L6.53104 18.5306C6.39031 18.6714 6.19944 18.7504 6.00042 18.7504C5.80139 18.7504 5.61052 18.6714 5.46979 18.5306C5.32906 18.3899 5.25 18.199 5.25 18C5.25 17.801 5.32906 17.6101 5.46979 17.4694L16.1901 6.75H8.25042C8.0515 6.75 7.86074 6.67098 7.72009 6.53033C7.57943 6.38968 7.50042 6.19891 7.50042 6C7.50042 5.80109 7.57943 5.61032 7.72009 5.46967C7.86074 5.32902 8.0515 5.25 8.25042 5.25H18.0004C18.1993 5.25 18.3901 5.32902 18.5307 5.46967C18.6714 5.61032 18.7504 5.80109 18.7504 6Z"
                  fill="#0E9594"
                />
              </svg>
            </div>
          </button>
        </div>
        <div class="card pt-10">
          <div class="img">
            <img src="/assets/images/image_3.webp" alt="" />
          </div>
          <div class="case-title">Case Title</div>
          <div class="case-sub-title">Case sous-titre</div>
          <div class="description">
            BASIC vous guide à travers des territoires authentiques, où la
            chasse est une quête de respect et de sens. Accompagné par des
            experts passionnés, découvrez plusieurs types d’expériences de
            chasse où l’essentiel réside dans la connexion avec la nature, une
            saine gestion des territoires et de leurs habitats. Ours noir,
            orignal, cerf de Virginie (chevreuil), petits gibiers sont au menu
            et ce, tant au sein de séjours de chasse traditionnel que lors
            d’expériences uniques en symbiose avec l’environnement et les
            traditions millénaires.
          </div>
          <button class="btn btn-line">
            <span>Forfait 1</span>
            <div data-svg-wrapper style="position: relative">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.7504 6V15.75C18.7504 15.9489 18.6714 16.1397 18.5307 16.2803C18.3901 16.421 18.1993 16.5 18.0004 16.5C17.8015 16.5 17.6107 16.421 17.4701 16.2803C17.3294 16.1397 17.2504 15.9489 17.2504 15.75V7.81031L6.53104 18.5306C6.39031 18.6714 6.19944 18.7504 6.00042 18.7504C5.80139 18.7504 5.61052 18.6714 5.46979 18.5306C5.32906 18.3899 5.25 18.199 5.25 18C5.25 17.801 5.32906 17.6101 5.46979 17.4694L16.1901 6.75H8.25042C8.0515 6.75 7.86074 6.67098 7.72009 6.53033C7.57943 6.38968 7.50042 6.19891 7.50042 6C7.50042 5.80109 7.57943 5.61032 7.72009 5.46967C7.86074 5.32902 8.0515 5.25 8.25042 5.25H18.0004C18.1993 5.25 18.3901 5.32902 18.5307 5.46967C18.6714 5.61032 18.7504 5.80109 18.7504 6Z"
                  fill="#0E9594"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
