.block-5 {
  background: url("../../../../assets/images/image_fruit.png") no-repeat center
    center/cover;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    span {
      color: rgba(86, 44, 44, 0.5);
    }
  }
  .description {
    max-width: 50%;
  }
  .vertical-line {
    width: 2px;
    height: 70px;
    background: white;
    margin: 6rem auto 1rem;
  }
}
