<section class="block-5">
  <div class="container mx-auto py-10 text-center">
    <h2>Explorez avec BASIC <br /><span> Dès aujourd’hui</span></h2>
    <p class="description mx-auto mb-10">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,
    </p>
    <div class="flex justify-center">
      <button class="btn btn-orange px-6">explorer</button>
    </div>
    <div class="vertical-line mt-30"></div>
  </div>
</section>
